.form {
    margin-left: 170px;
    margin-top: 30px;
    font-family: 'Vidaloka', serif;
    color: white;
}

.flow-text {
    font-weight: bold;
}

.logout{
    font-family: monospace;
}

.buttonsRow {
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: violet;
    float: center;
}


