.jumbotron {
  text-align: center;
  width:1250px;
  min-height: 300px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(https://media.giphy.com/media/3ohzdYnPyEiKF74r3G/giphy.gif);
  background-size: cover;
}
  