.container.valign-wrapper2 {
    border: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: center;
    padding-top: 45px;
    font-family: 'Vidaloka', serif;
}
.wholeProfileDiv {

}

.profileGraph {
    border: 2px;
    border-style: solid;
    border-color: gold;
    margin-top: 10px;
    text-align: center;
    padding-top: 45px;
    font-family: 'Vidaloka', serif;
}

.form-control {
    width: 100%;
    
   
}

.blankfornow {
    align-content: center;
    justify-content: center;
    text-align: center;
}


.LogoutDiv {
  align-content: center;
  text-align: center;
  padding-bottom: 100px;
}


/* maybe not neccesary */
/* .myChart {
    width: 100%;
    height: 100%;
    width: 800px;
    height: 580px;
    /* background-color: greenyellow;
    
} */ 




/* trying to resize profle photo div */
/* img{
    height: 200%;
    width: 200%;
} */

.profilePhotoDiv img:first-child {
    height: 150px;
    width: 150px;
}
.profilePhotoDiv{

}


/* img[alt*="front"] {
    padding: .2rem
 } */